<div>
	<div class='tournament-view'>
	  TOURNAMENT: {{tournament_id}}
	</div>
	<div class='tournament-invite'>
		<span id='widget-header'>Invites</span>
		<form class='invitee-card' ng-submit='invite()'>
				<select id='invitee-select' ng-model='invitee'>
					<option></option>
					<option ng-repeat='user in allUserName' value='{{user.user_id}}'>{{user.full_name}}</option>
				</select>
				<button type='submit' id='invitee-submit'>Invite</button>
		</form>
	</div>
	<div class='tournament-participants'>
	</div>
</div>