<div>
	<div class='tourny-cards' ng-repeat='tourny in tournaments | filter: query' ng-animate=" 'animate' ">
		<div id='{{"tourny-"+tourny.theme}}' class='tourny-card'>
			<span>{{tourny.name}}</span><br>
			<span>{{tourny.description}}</span>
		</div>
	</div>
	<button id='nav-create'>+</button>
	<div class='tourny-blackout'>
		<button id='nav-submit' ng-submit="submitTournament()">O</button>
		<button id='nav-clear'>X</button>
		<form id='tourny-create' ng-submit="submitTournament()">
			Name<br>
			<input type='text' placeholder='Name' ng-model="name"></input><br>
			Description<br>
			<input type='text' placeholder='Description' ng-model="desc"></input><br>
			Goal<br>
			<input type='number' placeholder='Goal' ng-model="goal"></input><br>
			Theme<br>
			<select ng-model="theme">
				<option value='marathon'>Marathon</option>
				<option value='beach'>Beach</option>
				<option value='hiking'>Hiking</option>
			</select><br>
			Start<br>
			<input type='date' ng-model="startD"></input><br>
			End<br>
			<input type='date' ng-model="endD"></input><br>
		</form>
	</div>
</div>