<div>
	<div class='tourny-cards' ng-repeat='tourny in tournaments | filter: query' ng-animate=" 'animate' " ng-click="go('/tournament')">
		<div id='{{"tourny-"+tourny.theme}}' class='tourny-card'>
			<span>{{tourny.name}}</span><br>
			<span>{{tourny.description}}</span>
		</div>
	</div>
	<button id='nav-create'>+</button>
	<div class='tourny-blackout'>
		<form id='tourny-create' ng-submit='create()'>
			Name<br>
			<input type='text' placeholder='Name' ng-model='name' required></input><br>
			Description<br>
			<input type='text' placeholder='Description' ng-model='description' required></input><br>
			Goal<br>
			<input type='number' placeholder='Goal' ng-model='goal' required></input><br>
			Theme<br>
			<select ng-model='theme' required>
				<option value='marathon'>Marathon</option>
				<option value='beach'>Beach</option>
				<option value='hiking'>Hiking</option>
			</select><br>
			Start<br>
			<input type='date' ng-model='start' required></input><br>
			End<br>
			<input type='date' ng-model='end' required></input><br>
			<button id='nav-submit' type='submit'>O</button>
			<button id='nav-clear' ng-click='clear()'>X</button>
		</form>
	</div>
</div>